/* keep header in fixed position on top */
.custom-header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    background: #f8f9fa;
}

/* fix navbar position according to top header */
.custom-top-nav {
  margin-top: 78px;
}
@media screen and (max-width: 993px) {
  .custom-top-nav {
    margin-top: 183px;
  }
}
@media screen and (max-width: 765px) {
  .custom-top-nav {
    margin-top: 195px;
  }
}
@media screen and (max-width: 419px) {
  .custom-top-nav {
    margin-top: 244px;
  }
}

/* fix z-index of new product badge and product rating */
.card-product-grid .topbar {
  z-index: unset;
}
.rating-stars li.stars-active, .rating-stars li {
  z-index: unset;
}

/* fix slick slider previous and next icon color and position  */
.slick-prev:before, .slick-next:before {
    color: #797c85;
}
.slick-prev{
  left: -18px;
}
.slick-next {
    right: -18px;
}

/* remove dropdown arrow logo */
.caret-off::before {
  display: none;
}
.caret-off::after {
    display: none;
}
